@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.control-sidebar {
  grid-column: 1/2;
  align-items: center;
  /* background-color: #2b3340; */
  background-image: url('../img/sideBar_img.png');
  background-size: cover;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 300px;
  position: relative;
}
.control-sidebar * {
  color: #dee5ed;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.6px;
}
.control-link {
  display: flex;
  align-items: flex-end;
  margin-top: 30px;
}
.control-link:hover {
  color: white;
  text-decoration: none;
  transform: scale(1.1);
}
.control-link:hover * {
  color: white;
  text-decoration: none;
  transform: scale(1.1);
}
.control-link * {
  font-size: 25px;
  padding-right: 5px;
}

/* dashboard content*/
.control-content {
  padding-left: 10px;
}
.userEsteem-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-content: center;
}

@media (max-width: 1200px) {
  .userEsteem-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  .userEsteem-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .userEsteem-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
