@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.control-panel {
  background-color: white;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: minmax(600px, 100%);
}
.control-sidebar {
  grid-column: 1/2;
  align-items: center;
  /* background-color: #2b3340; */
  background-image: url('../img/sideBar_img.png');
  background-size: cover;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  /* height: 600px; */
  width: 300px;
  position: relative;
}
.control-sidebar * {
  color: #dee5ed;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.6px;
}
.control-link {
  display: flex;
  align-items: flex-end;
  margin-top: 30px;
}
.control-link:hover {
  color: white;
  text-decoration: none;
  transform: scale(1.1);
}
.control-link:hover * {
  color: white;
  text-decoration: none;
  transform: scale(1.1);
}
.control-link * {
  font-size: 25px;
  padding-right: 5px;
}
/* logout button */
.nav_logout {
  position: absolute;
  /* margin-top: 50px; */
  bottom: 10%;
}
/* dashboard content*/
.control-content {
  padding-left: 10px;
}
