@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&display=swap');
/* mini navbar with title add product button and search bar */
.mini-navbar {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 10px 20px 15px 0;
}
.mini-navbar span {
  display: flex;
}
.mini-navbar h3 {
  font-family: 'Amiri', serif;
  font-size: 30px;
  color: #222759;
}
.add-icon {
  color: black;
  font-size: 25px;
  align-self: center;
  margin-left: 10px;
  cursor: pointer;
  color: dodgerblue;
}
.active-pink-2 input[type='text'] {
  border: none;
  border-bottom: 1px solid #8fbaaf;
}
.active-pink-2 input[type='text']:focus:not([readonly]) {
  border: none;
  border-bottom: 1px solid #262f4d;
  box-shadow: 0 1px 0 0 #262f4d;
}
/* container */
.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
/* product card */
.card {
  width: 200px;
  height: 300px;
  border-radius: 0;
  text-align: center;
  box-shadow: 0 0 5px #2f3136;
}
.black {
  /* background-color: #2c3345ff; */
  background-color: #6e778a;
  color: white;
}
.name {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 18px;
  color: white;
}
.desc {
  margin: 0;
  padding: 5px 0 0 0;
  color: rgb(168, 168, 168);
  font-size: 12px;
  height: 50px;
}
.card img {
  border-radius: 50%;
  margin-top: 15px;
  height: 120px;
  width: 120px;
  object-fit: cover;
}
.price {
  font-size: 14px;
}
/* edit and delete buttons */
.buttons {
  padding: 0;
}
.icons {
  font-size: 18px;
}
.delete-icon {
  color: rgba(255, 0, 0, 0.65);
}
.delete-icon:hover {
  color: rgba(255, 0, 0);
  transform: scale(1.2);
  cursor: pointer;
}
.edit-icon {
  color: rgba(30, 143, 255, 0.65);
}
.edit-icon:hover {
  color: rgba(30, 143, 255);
  transform: scale(1.2);
  cursor: pointer;
}
.card-btn {
  border: none;
  padding: 0;
  background-color: #00000000;
  margin: 0;
}
.card-btn:focus {
  outline: none;
  box-shadow: none;
}
.edit-btn {
  margin-right: 10px;
}
.delete-btn {
  margin-left: 10px;
}
