/* .unit-card {
  display: grid;
  grid-template-columns: 1fr 4fr 80px 20px 80px;
  width: 90%;
  padding: 10px;
}
.unit-card img {
  border-radius: 50%;
}
.title {
  justify-self: center;
}

.edit-task-click {
  padding: 1;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px;
  color: #0d4678;
}
.edit-task-click:hover {
  color: #086fc9;
  transform: scale(1.2);
}
.edit-task-click * {
  cursor: pointer;
  margin: 0;
}
.btn-remove {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px;
  grid-column: 5/6;
  color: #b30909;
}
.btn-remove:hover {
  color: #f01400;
  transform: scale(1.2) translateX(5px);
}
.btn-remove * {
  cursor: pointer;
  margin: 0;
} */
.card {
  width: 200px;
  height: 300px;
  border-radius: 0;
  text-align: center;
  box-shadow: 0 0 5px black;
}
#black {
  background-color: #2c3345ff;
  color: white;
}
#white a {
  color: black;
}
.name {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 18px;
  color: white;
}
.desc {
  margin: 0;
  padding: 5px 0 0 0;
  color: rgb(168, 168, 168);
  font-size: 12px;
  height: 50px;
}
.card img {
  border-radius: 50%;
  margin-top: 15px;
  height: 120px;
  width: 120px;
  object-fit: cover;
}
.price {
  font-size: 14px;
}
/* edit and delete buttons */
.buttons {
  padding: 0;
}
.icons {
  font-size: 18px;
}
.delete-icon {
  color: rgba(255, 0, 0, 0.65);
}
.delete-icon:hover {
  color: rgba(255, 0, 0);
  transform: scale(1.2);
  cursor: pointer;
}
.edit-icon {
  color: rgba(30, 143, 255, 0.65);
}
.edit-icon:hover {
  color: rgba(30, 143, 255);
  transform: scale(1.2);
  cursor: pointer;
}
.card-btn {
  border: none;
  padding: 0;
  background-color: #00000000;
  margin: 0;
}
.card-btn:focus {
  outline: none;
  box-shadow: none;
}
.edit-btn {
  margin-right: 10px;
}
.delete-btn {
  margin-left: 10px;
}
