@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.services-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 50px 20px;
}
.ServiceCardPage {
  box-shadow: 0 0 5px 1px grey;
  position: relative;
  text-align: center;
  width: 300px;
  height: 270px;
}

.ServiceCardPage > span > img {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
}
.ServiceCardPage h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  margin: 0 5px 10px 5px;
  padding: 15px 0 10px 0;
  border-bottom: 1px solid black;
}
.ServiceCardPage p {
  font-family: 'Roboto', sans-serif;
  color: darkslategray;
  line-height: 30px;
  margin: 20px 5px 10px 5px;
}
